* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background: linear-gradient(to right, #2E1A47, #1b102b);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

/* CAJA FORMULARIO */
.register-box {
    background-color: #FFFFFF;

    width: 430px;

    padding: 40px;

    border-radius: 15px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* LOGO */
.logo {
    width: 260px;

    display: block;

    margin: 0 auto 20px;
}

/* TITULO */
h1 {
    text-align: center;

    margin-bottom: 25px;

    color: #2E1A47;

    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

/* LABELS */
label {
    margin-top: 12px;
    margin-bottom: 5px;

    font-weight: bold;

    color: #2E1A47;
}

/* INPUTS */
input,
select,
textarea {
    padding: 12px;

    border: 1px solid #cbd5e1;

    border-radius: 8px;

    font-size: 14px;

    font-family: Arial, sans-serif;

    outline: none;

    transition: 0.3s;
}

/* EFECTO FOCUS */
input:focus,
select:focus,
textarea:focus {
    border-color: #F2B705;

    box-shadow: 0 0 5px rgba(242, 183, 5, 0.5);
}

/* TEXTAREA */
textarea {
    resize: none;

    height: 90px;
}

/* MENSAJES ERROR */
.mensaje-error {
    color: #dc2626;

    font-size: 13px;

    margin-top: 5px;

    margin-bottom: 5px;
}

/* MENSAJE EXITO */
.mensaje-exito {
    background-color: #dcfce7;

    color: #15803d;
    border: 1px solid #86efac;
    padding: 7px;
    border-radius: 8px;
    text-align: center;
    font-size: 13px;;
    margin-top: 5px;
}

/* BOTON */
button {
    margin-top: 25px;

    padding: 14px;

    background-color: #F2B705;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

/* HOVER BOTON */
button:hover {
    background-color: #d99904;
}

/* LINK LOGIN */
.login-link {
    text-align: center;

    margin-top: 20px;

    color: #334155;
}

.login-link a {
    color: #F2B705;

    text-decoration: none;

    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}